.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.DS_Store
.idea/
src/*.egg-info/
*.egg-info/
network.md
/.coverage
.pytest_cache/
.ruff_cache/
.cache/
.coverage.*
*.svg
!src/unifi_network_maps/assets/icons/*.svg
!src/unifi_network_maps/assets/icons/isometric/*.svg
smoketest/
network*.md
build/
/dist/
/.run/
